body 
    { background-image:url(back.gif);font-family: Verdana, Arial; }     

h1 
{background-color:#D2B48C; padding-top:20px;
                    font-size:3em;}


#wrapper  {  padding-left: 5%;min-width:900px;max-width:1280px;width: 80%;
           margin-right: auto;
		   margin-left: auto;
		   box-shadow: 5px 5px 5px;width: 80%;border:50px solid;}


img      {background-repeat: no-repeat;}


h2     {color:blue;text-align:left;}


ul      {text-align:left;}


nav     {font-size:2.10em;text-align:left;padding-right:50px;font-weight: bold;padding-top:10px;}


nav a { text-decoration:none;}


footer   {font-style:italic; padding-bottom:10px;text-align:left;padding-left:45px;}


#house     {padding-left:145px;}

	